* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    position: absolute;
    left: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    position: absolute;
    right: 0;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    font-size: 14px;
    padding: 5px;
}

.nav-links a:hover {
    border-bottom: 3px solid white;
    border-radius: 5px;
}

.burger .line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.burger {
    display: none;
}

.nav-links li {
    list-style: none;
}

.sub-nav-links {
    position: absolute;
    top: 2vh;
    background-color: teal;
    padding: 20px;
    padding-left: 0;
    display: none;
    width: 280px;
    height: auto;

}

.sub-nav-links li {
    padding: 5px;
}

.nav-links li:hover .sub-nav-links {
    display: block;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: block;
        line-height: 8vh;

    }

    .logo {}

    .nav-links {

        height: 92vh;
        top: 8vh;
        background-color: #008080;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translatey(-100%);
        transition: all 0.5s ease-in;
        overflow-x: hidden;
    }

    .burger {
        display: block;
        position: absolute;
        top: 7px;
        right: 5px;
        cursor: pointer;

    }


    .nav-active {
        transform: translateX(0%);
    }

    .sub-nav-links {
        display: none;
    }
}